<div id="respondentsDialog" title="People who have responded">
This is a list of all of the people who have responded to this event.
<ul>
  <% event.time_tables.map do |tt| %>
    <li><%= tt.email %></li>
  <% end %>
</ul>
</div>