/* line 4, ../../../app/stylesheets/_two_col.scss */
body #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 5, ../../../app/stylesheets/_two_col.scss */
body #header, body #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-rc2@schedule/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #header, * html body #footer {
  overflow-x: hidden;
}
/* line 6, ../../../app/stylesheets/_two_col.scss */
body #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-rc2@schedule/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #sidebar {
  overflow-x: hidden;
}
/* line 7, ../../../app/stylesheets/_two_col.scss */
body #content {
  display: inline;
  float: right;
  position: relative;
  margin: 0 -40px 1.5em 40px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-rc2@schedule/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content {
  overflow-x: hidden;
}

/* line 4, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect {
  width: 850px;
  margin: 0 50px;
}
/* line 8, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect * {
  white-space: nowrap;
}
/* line 10, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect .title {
  margin-bottom: -32px;
}
/* line 14, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect ul.hours {
  display: inline-block;
  cursor: crosshair;
}
/* line 18, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect ul.hours li.hour {
  display: inline-block;
  padding: 5px;
  margin: 4px 1px 0 0;
  border: 1px solid #666;
  font-size: 12px;
  width: 19px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 28, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect ul.hours li.hour.google {
  margin: 2px 1px 0 0;
  width: 17px;
  border: 2px solid black;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
/* line 38, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect ul.days li.day {
  list-style-type: none;
  padding-bottom: 5px;
}
/* line 42, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect ul.days li.day span.date {
  display: inline-block;
  width: 50px;
  padding-right: 10px;
  text-align: right;
  font-size: 14px;
}
/* line 52, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect .hot {
  color: green;
  font-weight: bold;
  -moz-box-shadow: green 0 0 20px 0;
  -webkit-box-shadow: green 0 0 20px 0;
  -o-box-shadow: green 0 0 20px 0;
  box-shadow: green 0 0 20px 0;
}
/* line 58, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect .warm {
  color: orange;
  -moz-box-shadow: yellow 0 0 20px 0;
  -webkit-box-shadow: yellow 0 0 20px 0;
  -o-box-shadow: yellow 0 0 20px 0;
  box-shadow: yellow 0 0 20px 0;
}
/* line 63, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect .cold {
  color: red;
  -moz-box-shadow: red 0 0 20px 0;
  -webkit-box-shadow: red 0 0 20px 0;
  -o-box-shadow: red 0 0 20px 0;
  box-shadow: red 0 0 20px 0;
}
/* line 69, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect .ui-selected, #calendarSelect .ui-unselecting, #calendarSelect .ui-selecting {
  color: black;
}
/* line 75, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect.static .hot {
  background-color: #afa;
}
/* line 76, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect.static .warm {
  background-color: #ffa;
}
/* line 77, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect.static .cold {
  background-color: #faa;
}
/* line 78, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect.static ul.hours li.hour {
  color: black;
  cursor: help;
}
/* line 83, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect.newSchedule .ui-selected, #calendarSelect.newSchedule .ui-selecting, #calendarSelect.newSchedule .ui-unselecting {
  -moz-box-shadow: green 0 0 20px 0;
  -webkit-box-shadow: green 0 0 20px 0;
  -o-box-shadow: green 0 0 20px 0;
  box-shadow: green 0 0 20px 0;
}
/* line 88, ../../../app/stylesheets/_calendar_select.scss */
#calendarSelect a.previous, #calendarSelect a.next {
  display: block;
  padding: 10px;
  text-align: center;
}

/* line 95, ../../../app/stylesheets/_calendar_select.scss */
.ui-selectee {
  background-color: #fff;
}

/* line 99, ../../../app/stylesheets/_calendar_select.scss */
.ui-selecting {
  background-color: #afa;
}

/* line 103, ../../../app/stylesheets/_calendar_select.scss */
.ui-selected {
  background-color: #5f5;
}

/* line 107, ../../../app/stylesheets/_calendar_select.scss */
.ui-unselecting {
  background-color: #5f5;
}

/* line 111, ../../../app/stylesheets/_calendar_select.scss */
.cs-unselecting .ui-selecting {
  background-color: #fff;
}

/* line 115, ../../../app/stylesheets/_calendar_select.scss */
.ui-selectable-helper {
  border: 1px dotted black;
}

/* line 1, ../../../app/stylesheets/_dialogs.scss */
#newDialog {
  display: none;
}
/* line 4, ../../../app/stylesheets/_dialogs.scss */
#newDialog p {
  margin: 0;
  font-size: 12px;
  font-family: "adrianne-1", "adrianne-2";
}
/* line 10, ../../../app/stylesheets/_dialogs.scss */
#newDialog .description {
  font-family: "adrianne-1", "adrianne-2";
  font-size: 12px;
  margin-bottom: 15px;
}
/* line 16, ../../../app/stylesheets/_dialogs.scss */
#newDialog .links {
  background-color: #eee;
  -moz-box-shadow: #eeeeee 0px 0px 10px 10px;
  -webkit-box-shadow: #eeeeee 0px 0px 10px 10px;
  -o-box-shadow: #eeeeee 0px 0px 10px 10px;
  box-shadow: #eeeeee 0px 0px 10px 10px;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -khtml-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
/* line 22, ../../../app/stylesheets/_dialogs.scss */
#newDialog .buttons {
  padding: 10px;
  text-align: center;
}
/* line 26, ../../../app/stylesheets/_dialogs.scss */
#newDialog .buttons input {
  font-size: 15px;
  height: 30px;
}
/* line 32, ../../../app/stylesheets/_dialogs.scss */
#newDialog .newEventUrl, #newDialog .newTimeTableUrl {
  text-align: center;
}

/* line 37, ../../../app/stylesheets/_dialogs.scss */
#respondentsDialog {
  display: none;
}
/* line 40, ../../../app/stylesheets/_dialogs.scss */
#respondentsDialog ul {
  margin-top: 10px;
}
/* line 43, ../../../app/stylesheets/_dialogs.scss */
#respondentsDialog ul li {
  margin-top: 10px;
  list-style-type: none;
  text-align: center;
}

/* line 51, ../../../app/stylesheets/_dialogs.scss */
.ui-dialog {
  width: 500px !important;
  background-color: white;
  border: 1px solid black;
  -moz-box-shadow: black 5px 5px 40px 5px;
  -webkit-box-shadow: black 5px 5px 40px 5px;
  -o-box-shadow: black 5px 5px 40px 5px;
  box-shadow: black 5px 5px 40px 5px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -khtml-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

/* line 60, ../../../app/stylesheets/_dialogs.scss */
.ui-dialog-titlebar {
  background-color: black;
  color: white;
  padding: 10px;
  cursor: move;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -khtml-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

/* line 69, ../../../app/stylesheets/_dialogs.scss */
.ui-dialog-content {
  padding: 10px;
  background-color: white;
}

/* line 74, ../../../app/stylesheets/_dialogs.scss */
.ui-dialog-titlebar-close {
  float: right;
  color: #faa;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 10px;
  padding: 5px;
}

/* line 10, ../../../app/stylesheets/application.scss */
html {
  height: 100%;
}

/* line 11, ../../../app/stylesheets/application.scss */
body {
  font-family: "p22-fllw-eaglefeather-1", "p22-fllw-eaglefeather-2";
  background: #aaa no-repeat;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #aaaaaa));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #aaaaaa 100%);
  background-image: linear-gradient(top, #ffffff 0%, #aaaaaa 100%);
}

/* line 17, ../../../app/stylesheets/application.scss */
body, h1, h2, h3, h4, h5, ul, ul li {
  margin: 0;
  padding: 0;
}

/* line 22, ../../../app/stylesheets/application.scss */
#header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 25px;
}
/* line 28, ../../../app/stylesheets/application.scss */
#header h1 {
  font-size: 80px;
  line-height: 80px;
  font-family: "coquette-1", "coquette-2";
}
/* line 34, ../../../app/stylesheets/application.scss */
#header h2 {
  font-size: 20px;
  line-height: 20px;
  font-family: "coquette-1", "coquette-2";
}

/* line 41, ../../../app/stylesheets/application.scss */
#sidebar {
  font-size: 16px;
  line-height: 24px;
}
/* line 45, ../../../app/stylesheets/application.scss */
#sidebar h3 {
  font-family: "p22-fllw-eaglefeather-1", "p22-fllw-eaglefeather-2";
  font-size: 30px;
  line-height: 45px;
}
/* line 51, ../../../app/stylesheets/application.scss */
#sidebar p {
  margin-bottom: 16px;
}

/* line 56, ../../../app/stylesheets/application.scss */
#content {
  padding-top: 5px;
  text-align: center;
}
/* line 60, ../../../app/stylesheets/application.scss */
#content h3 {
  padding-top: 15px;
  text-align: center;
  font-family: "p22-fllw-eaglefeather-1", "p22-fllw-eaglefeather-2";
  font-size: 30px;
  line-height: 45px;
}
/* line 68, ../../../app/stylesheets/application.scss */
#content h4 {
  margin: -10px 0 20px 0;
  text-align: center;
  font-family: "p22-fllw-eaglefeather-1", "p22-fllw-eaglefeather-2";
  font-size: 20px;
  line-height: 30px;
}

/* line 78, ../../../app/stylesheets/application.scss */
#footer h3 {
  font-family: "p22-fllw-eaglefeather-1", "p22-fllw-eaglefeather-2";
  font-size: 30px;
  line-height: 45px;
}

/* line 85, ../../../app/stylesheets/application.scss */
input[type='submit'], input[type='button'] {
  font-family: "p22-fllw-eaglefeather-1", "p22-fllw-eaglefeather-2";
  font-size: 30px;
  height: 60px;
  width: 350px;
}

/* line 92, ../../../app/stylesheets/application.scss */
input[type='text'] {
  font-size: 30px;
  font-family: "adrianne-1", "adrianne-2";
  border: 1px solid #888888;
  padding: 6px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #eeeeee), color-stop(50%, #dddddd), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 20px, #ffffff 40px);
  background-image: linear-gradient(top, #eeeeee 0%, #dddddd 20px, #ffffff 40px);
}

/* line 100, ../../../app/stylesheets/application.scss */
.field {
  text-align: left;
}
/* line 103, ../../../app/stylesheets/application.scss */
.field label {
  display: block;
  font-size: 20px;
  font-family: "p22-fllw-eaglefeather-1", "p22-fllw-eaglefeather-2";
}
/* line 109, ../../../app/stylesheets/application.scss */
.field .field_with_errors {
  color: red;
}
/* line 112, ../../../app/stylesheets/application.scss */
.field .field_with_errors input {
  border-color: red;
  color: red;
}

/* line 119, ../../../app/stylesheets/application.scss */
.actions {
  text-align: center;
}

/* line 123, ../../../app/stylesheets/application.scss */
#preview {
  display: none;
  clear: both;
}

/* line 128, ../../../app/stylesheets/application.scss */
#showPreview {
  clear: both;
  display: block;
  text-align: center;
}

/* line 134, ../../../app/stylesheets/application.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 138, ../../../app/stylesheets/application.scss */
input#googleCalendarConnect, input#googleCalendarDisconnect, #showRespondentsDialog {
  display: inline;
  float: right;
  clear: right;
  margin: 2px;
  font-size: 15px;
  height: 30px;
  width: auto;
}

/* line 147, ../../../app/stylesheets/application.scss */
input#googleCalendarDisconnect {
  display: none;
}
