$fancy-font: "coquette-1","coquette-2";
$serif-font: "adrianne-1","adrianne-2";
$sans-serif-font: "p22-fllw-eaglefeather-1","p22-fllw-eaglefeather-2";

$standard-font-size: 20px;
$paragraph-font-size: 16px;
$header-font-size: $standard-font-size * 4;
$secondary-header-font-size: $standard-font-size * 1.5;
$input-font-size: 30px;
$border-color: #888;