<h3>What is Schedule Butler?</h3>
<p>
  Schedule Butler is a great way for a group of people to pin down a time to meet.
</p>
<p>
  How many times have you sent an email to a group of people asking what time they
  were free?  How frustrating is it to try to figure out what the best time that
  takes into account everyone?  
</p>
<p>
  Sit back, and let the Butler do the work for you.
</p>