<% content_for :sidebar do %>
  <%= render 'what_is' %>
  <h3>How do I start?</h3>
  <p>
    Just enter your email address over there to the right, and enter a description
    of your event.  You'll get two links: one for you, and one for your friends.
  </p>
<% end %>

<%= render 'form' %>