<div id="content">
  <div id="info">
    <h3>Get started!</h3>
    It's dead simple:
    <ol>
      <li>Create an event</li>
      <li>Send the link to your friends</li>
      <li>The butler does the rest!</li>
    </ol>
  </div>
  <div id="smallForm">
    <%= render 'form' %>
  </div>
</div>
